In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data'
df = pd.read_csv(url, header=None)
df.columns = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 
              'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target']

In [ ]:
df = df.replace('?', np.nan)

In [ ]:
df = df.dropna()

In [ ]:
X = df.drop('target', axis=1)
y = df['target']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
df.isna().sum(axis="rows")

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
df.shape

(303, 14)

In [ ]:
pd.get_dummies(df,columns=["target"])

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target_0,target_1,target_2,target_3,target_4
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,1,0,0,0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,0,0,1,0,0
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,0,1,0,0,0
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,1,0,0,0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,0,1,0,0,0
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,0,0,1,0,0
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,0,0,0,1,0
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,0,1,0,0,0
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,?,3.0,1,0,0,0,0

In [ ]:
pd.get_dummies(y)

     0  1  2  3  4
0    1  0  0  0  0
1    0  0  1  0  0
2    0  1  0  0  0
3    1  0  0  0  0
4    1  0  0  0  0
..  .. .. .. .. ..
298  0  1  0  0  0
299  0  0  1  0  0
300  0  0  0  1  0
301  0  1  0  0  0
302  1  0  0  0  0

[303 rows x 5 columns]

# **1.specify the architecture**

In [ ]:
model = Sequential()
model.add(Dense(64, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

# **2.Compile the model**

In [ ]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
early_stop = EarlyStopping(monitor='val_loss', patience=10)

# **3.Fit the model**

In [ ]:
model.fit(X_train, y_train, validation_split=0.2, epochs=50, batch_size=16, callbacks=[early_stop])

Epoch 1/50
12/12 [==============================] - 1s 54ms/step - loss: 0.3014 - accuracy: 0.2593 - val_loss: 0.3766 - val_accuracy: 0.1667
Epoch 2/50
12/12 [==============================] - 0s 4ms/step - loss: -0.0655 - accuracy: 0.3122 - val_loss: 0.1723 - val_accuracy: 0.2083
Epoch 3/50
12/12 [==============================] - 0s 6ms/step - loss: -0.4549 - accuracy: 0.3598 - val_loss: -0.0596 - val_accuracy: 0.2500
Epoch 4/50
12/12 [==============================] - 0s 4ms/step - loss: -0.9083 - accuracy: 0.3810 - val_loss: -0.3548 - val_accuracy: 0.2917
Epoch 5/50
12/12 [==============================] - 0s 4ms/step - loss: -1.5438 - accuracy: 0.3968 - val_loss: -0.7019 - val_accuracy: 0.3333
Epoch 6/50
12/12 [==============================] - 0s 4ms/step - loss: -2.3170 - accuracy: 0.4180 - val_loss: -1.1743 - val_accuracy: 0.3542
Epoch 7/50
12/12 [==============================] - 0s 6ms/step - loss: -3.4506 - accuracy: 0.4286 - val_loss: -1.8351 - val_accuracy: 0.3750
Epoch 8/50
12/12 [==============================] - 0s 4ms/step - loss: -4.9580 - accuracy: 0.4392 - val_loss: -2.7097 - val_accuracy: 0.4167
Epoch 9/50
12/12 [==============================] - 0s 4ms/step - loss: -6.9593 - accuracy: 0.4392 - val_loss: -3.8566 - val_accuracy: 0.4167
Epoch 10/50
12/12 [==============================] - 0s 6ms/step - loss: -9.7583 - accuracy: 0.4444 - val_loss: -5.3793 - val_accuracy: 0.4167
Epoch 11/50
12/12 [==============================] - 0s 4ms/step - loss: -13.2189 - accuracy: 0.4550 - val_loss: -7.4928 - val_accuracy: 0.4167
Epoch 12/50
12/12 [==============================] - 0s 6ms/step - loss: -18.0434 - accuracy: 0.4603 - val_loss: -10.1331 - val_accuracy: 0.4167
Epoch 13/50
12/12 [==============================] - 0s 4ms/step - loss: -24.1472 - accuracy: 0.4550 - val_loss: -13.4326 - val_accuracy: 0.4167
Epoch 14/50
12/12 [==============================] - 0s 5ms/step - loss: -31.4436 - accuracy: 0.4656 - val_loss: -17.7996 - val_accuracy: 0.4167
Epoch 15/50
12/12 [==============================] - 0s 5ms/step - loss: -40.8090 - accuracy: 0.4709 - val_loss: -23.0950 - val_accuracy: 0.4167
Epoch 16/50
12/12 [==============================] - 0s 4ms/step - loss: -52.1224 - accuracy: 0.4656 - val_loss: -29.6449 - val_accuracy: 0.4167
Epoch 17/50
12/12 [==============================] - 0s 4ms/step - loss: -66.4720 - accuracy: 0.4709 - val_loss: -37.2369 - val_accuracy: 0.4167
Epoch 18/50
12/12 [==============================] - 0s 4ms/step - loss: -81.7287 - accuracy: 0.4709 - val_loss: -46.5537 - val_accuracy: 0.4167
Epoch 19/50
12/12 [==============================] - 0s 4ms/step - loss: -100.8971 - accuracy: 0.4815 - val_loss: -56.9636 - val_accuracy: 0.4167
Epoch 20/50
12/12 [==============================] - 0s 6ms/step - loss: -123.9718 - accuracy: 0.4868 - val_loss: -67.7505 - val_accuracy: 0.4167
Epoch 21/50
12/12 [==============================] - 0s 5ms/step - loss: -146.4820 - accuracy: 0.4762 - val_loss: -81.6570 - val_accuracy: 0.4167
Epoch 22/50
12/12 [==============================] - 0s 4ms/step - loss: -175.1901 - accuracy: 0.4815 - val_loss: -96.2334 - val_accuracy: 0.4167
Epoch 23/50
12/12 [==============================] - 0s 4ms/step - loss: -204.1471 - accuracy: 0.4762 - val_loss: -113.5987 - val_accuracy: 0.4167
Epoch 24/50
12/12 [==============================] - 0s 5ms/step - loss: -240.7338 - accuracy: 0.4868 - val_loss: -130.7963 - val_accuracy: 0.4167
Epoch 25/50
12/12 [==============================] - 0s 6ms/step - loss: -276.4816 - accuracy: 0.4868 - val_loss: -150.9709 - val_accuracy: 0.4375
Epoch 26/50
12/12 [==============================] - 0s 4ms/step - loss: -316.3094 - accuracy: 0.4868 - val_loss: -173.4162 - val_accuracy: 0.4583
Epoch 27/50
12/12 [==============================] - 0s 4ms/step - loss: -361.3554 - accuracy: 0.4868 - val_loss: -197.2714 - val_accuracy: 0.4583
Epoch 28/50
12/12 [==============================] - 0s 5ms/step - loss: -410.5621 - accuracy: 0.4868 - val_loss: -223.2896 - val_accuracy: 0.4583
Epoch 29/50
12/12 [==============================] - 0s 6ms/step - loss: -464.4974 - accuracy: 0.4868 - val_loss: -251.0204 - val_accuracy: 0.4583
Epoch 30/50
12/12 [==============================] - 0s 4ms/step - loss: -520.8007 - accuracy: 0.4921 - val_loss: -281.8976 - val_accuracy: 0.4583
Epoch 31/50
12/12 [==============================] - 0s 4ms/step - loss: -583.2518 - accuracy: 0.4921 - val_loss: -315.6464 - val_accuracy: 0.4583
Epoch 32/50
12/12 [==============================] - 0s 6ms/step - loss: -650.0854 - accuracy: 0.4921 - val_loss: -350.8798 - val_accuracy: 0.4583
Epoch 33/50
12/12 [==============================] - 0s 4ms/step - loss: -724.0690 - accuracy: 0.4921 - val_loss: -387.8121 - val_accuracy: 0.4583
Epoch 34/50
12/12 [==============================] - 0s 6ms/step - loss: -797.9999 - accuracy: 0.4868 - val_loss: -429.4214 - val_accuracy: 0.4583
Epoch 35/50
12/12 [==============================] - 0s 6ms/step - loss: -880.6022 - accuracy: 0.4921 - val_loss: -474.2291 - val_accuracy: 0.4583
Epoch 36/50
12/12 [==============================] - 0s 4ms/step - loss: -969.2634 - accuracy: 0.4868 - val_loss: -520.4143 - val_accuracy: 0.4583
Epoch 37/50
12/12 [==============================] - 0s 6ms/step - loss: -1063.6428 - accuracy: 0.4921 - val_loss: -569.6248 - val_accuracy: 0.4583
Epoch 38/50
12/12 [==============================] - 0s 4ms/step - loss: -1168.5793 - accuracy: 0.4921 - val_loss: -617.7324 - val_accuracy: 0.4583
Epoch 39/50
12/12 [==============================] - 0s 5ms/step - loss: -1270.9733 - accuracy: 0.4921 - val_loss: -671.5657 - val_accuracy: 0.4583
Epoch 40/50
12/12 [==============================] - 0s 4ms/step - loss: -1373.6017 - accuracy: 0.4921 - val_loss: -732.7981 - val_accuracy: 0.4583
Epoch 41/50
12/12 [==============================] - 0s 6ms/step - loss: -1493.3154 - accuracy: 0.4974 - val_loss: -796.3113 - val_accuracy: 0.4583
Epoch 42/50
12/12 [==============================] - 0s 5ms/step - loss: -1624.1301 - accuracy: 0.4974 - val_loss: -857.5347 - val_accuracy: 0.4583
Epoch 43/50
12/12 [==============================] - 0s 4ms/step - loss: -1747.6017 - accuracy: 0.4974 - val_loss: -925.6482 - val_accuracy: 0.4583
Epoch 44/50
12/12 [==============================] - 0s 6ms/step - loss: -1886.9922 - accuracy: 0.4974 - val_loss: -994.2569 - val_accuracy: 0.4583
Epoch 45/50
12/12 [==============================] - 0s 4ms/step - loss: -2023.7090 - accuracy: 0.4974 - val_loss: -1071.4073 - val_accuracy: 0.4583
Epoch 46/50
12/12 [==============================] - 0s 5ms/step - loss: -2173.5432 - accuracy: 0.4974 - val_loss: -1149.2462 - val_accuracy: 0.4583
Epoch 47/50
12/12 [==============================] - 0s 4ms/step - loss: -2334.2805 - accuracy: 0.4974 - val_loss: -1225.7899 - val_accuracy: 0.4583
Epoch 48/50
12/12 [==============================] - 0s 6ms/step - loss: -2478.8975 - accuracy: 0.4974 - val_loss: -1313.4933 - val_accuracy: 0.4583
Epoch 49/50
12/12 [==============================] - 0s 6ms/step - loss: -2658.9465 - accuracy: 0.4974 - val_loss: -1397.1138 - val_accuracy: 0.4583
Epoch 50/50
12/12 [==============================] - 0s 4ms/step - loss: -2824.9131 - accuracy: 0.4974 - val_loss: -1487.9269 - val_accuracy: 0.4583

# **4.Predict on sample data**

In [ ]:
sample_data = X_test[:1]
print('Sample data:', sample_data)
prediction = model.predict(sample_data)
print('Prediction:', prediction)

Sample data: [[-1.07230911 -1.52906121 -1.23934794 -1.12522849 -1.69153882 -0.43698372
  -1.04980046 -0.4521183  -0.73413966 -0.91504143  0.62991241 -0.72057669
  -0.91689986]]
1/1 [==============================] - 0s 92ms/step
Prediction: [[3.57503e-26]]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')